<launch>
  <arg name="use_tls" default="false" />
  <arg name="topic_params"/>

  <node name="mqtt_bridge" pkg="mqtt_bridge" type="mqtt_bridge_node.py" output="screen">
    <rosparam command="delete" param="" />
    <rosparam if="$(arg use_tls)" command="load" ns="mqtt" file="$(find mqtt_bridge)/config/tls_params.yaml" />
    <param name="topic_params" value="$(arg topic_params)" />
  </node>
</launch>
