<!DOCTYPE html>
<html>
  <head>
    <title>RuntimeManager</title>

    <meta charset="utf-8" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <link href="./res/static/autoware_icon.ico" rel="shortcut icon">

    <!-- ReactGridLayout -->
    <link href="./res/node_modules/react-grid-layout/css/styles.css" rel="stylesheet">
    <link href="./res/node_modules/react-resizable/css/styles.css" rel="stylesheet">

    <!--GoogleMaps-->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!--ThreeJS-->
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <script src="./res/lib/threejs/three.js"></script>
    <!--<script src="./res/lib/threejs/TrackballControls.js"></script>-->
    <script src="./res/lib/threejs/OrbitControls.js"></script>
    <script src="./res/lib/threejs/PCDLoader.js"></script>
    <script src="./res/lib/threejs/ColladaLoader.js"></script>
    <!--<script src="./res/lib/threejs/Detector.js"></script>-->
    <!--<script src="./res/lib/threejs/stats.min.js"></script>-->
    <script src="./res/lib/threejs/GeometryUtils.js"></script>

    <!-- RobotWebTools -->
    <!--<script type="text/javascript" src="./res/lib/threejs/three.min.js"></script>-->
    <!--<script type="text/javascript" src="./res/lib/threejs/STLLoader.min.js"></script>-->
    <!--<script type="text/javascript" src="./res/lib/collada/ColladaLoader.min.js"></script>-->
    <!--<script type="text/javascript" src="./res/lib/collada/ColladaLoader2.min.js"></script>-->
    <script type="text/javascript" src="./res/lib/robotwebtools/eventemitter2.min.js"></script>
    <script type="text/javascript" src="./res/lib/robotwebtools/easeljs.min.js"></script>
    <script type="text/javascript" src="./res/lib/robotwebtools/roslib.js"></script>
    <script type="text/javascript" src="./res/lib/robotwebtools/ros3d.js"></script>

  </head>
  <body>
    <div id="content"></div>
    <script src="./res/build/app.js?no-cache=true"></script>
  </body>
</html>
